body {
    margin: 0;
    background: #141414;
    font-family: Arial;
    color: white;
}

header {
    background: #000;
    padding: 15px 30px;
}

header h1 {
    color: #e50914;
    margin: 0;
}

#banner {
    height: 400px;
    background: linear-gradient(to top, #141414, transparent);
    display: flex;
    align-items: flex-end;
    padding: 40px;
}

.categoria {
    margin-left: 20px;
}

.linha {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 15px;
}

.card {
    min-width: 180px;
    height: 250px;
    background: #222;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.15);
}
